*{
    margin: 0;
    padding: 0;
    background-color: gray;
}
.box{
    margin: 50px 50px 50px 300px;
    background-color: black;
    height: 370px;
    width: 230px;
    border-radius: 20px;
    position: relative;
    text-align: center;
    color: white;
   }
    .circle{
        position: absolute;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        top: 100px;
        left: 5px;
        line-height: 2;
        
    }
    #circle1{
        background-color: gray;
        top: 100px;
        left: 60px;
        line-height: 2;
        
    }
    #circle2{
        background-color: gray;
        top: 100px;
        left: 120px;
        line-height: 2;
        
    }
    #circle3{
        background-color: orange;
        top: 100px;
        left: 180px;
        line-height: 2;
    }
    #circle4{
        background-color: gray;
        top: 150px;
        left: 60px;
        line-height: 2;
    }
    #circle5{
        background-color: gray;
        top: 200px;
        left: 60px;
        line-height: 2;
    }
    #circle6{
        background-color: orange;
        top: 200px;
        left: 180px;
        line-height: 2;
    }
    #circle7{
        background-color: orange;
        top: 150px;
        left: 180px;
        line-height: 2;
    }
    #circle8{
        background-color: orange;
        top: 250px;
        left: 180px;
        line-height: 2;
    }
    #circle9{
        background-color: orange;
        top: 300px;
        left: 180px;
        line-height: 2;
    }
    #circle10{
        background-color: gray;
        top: 200px;
        left: 120px;
        line-height: 2;
    }
    #circle11{
        background-color: gray;
        top: 150px;
        left: 120px;
        line-height: 2;
    }
    #circle12{
        background-color: gray;
        top: 250px;
        left: 120px;
        line-height: 2;
    }
    #circle13{
        background-color: gray;
        top: 300px;
        left: 120px;
        line-height: 2;
    }
    #circle14{
        background-color: gray;
        top: 150px;
        left: 5px;
        line-height: 2;
    }
    #circle15{
        background-color: gray;
        top: 200px;
        left: 5px;
        line-height: 2;
    }
    #circle16{
        background-color: gray;
        top: 250px;
        left: 5px;
        line-height: 2;
    }
    #circle17{
        background-color: gray;
        top: 250px;
        left: 60px;
        line-height: 2;
    }
    .circle:hover{
        background-color: rgb(66, 124, 190);
        transition: 0.5s;
    }
    .oval{
        border-radius: 50px;
        width: 100px;
        height: 35px;
        background-color: gray;
        top: 300px;
        left: 5px;
        position: absolute;
        text-align: center;
        line-height: 2;
    }
    .custom-bold{
        font-size: 20px;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        margin-left: 60px;
        position: absolute;
        top: 50px;
        background-color: black;
    }
